<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a routerLink="/" class="navbar-brand">
    Socket messenger
  </a>
  <ul class="navbar-nav ml-auto">
    <ng-container *ngIf="user$ | async as user; else noUser">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/chat">
          {{ user.fullName }}
        </a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-link nav-link text-white" (click)="signOut()">
          Sign out
        </button>
      </li>
    </ng-container>
    <ng-template #noUser>
      <li class="nav-item">
        <a class="nav-link text-white text-bold" routerLink="/auth/login">Sign in</a>
      </li>
      <li class="nav-item">
        <span class="navbar-text">or</span>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-bold" routerLink="/auth/sign-up">Sign up</a>
      </li>
    </ng-template>
  </ul>
</nav>
