<div class="container" *ngIf="user$ | async">
  <div class="message-list mb-3" *ngIf="messages$ | async as messages">
    <div
      class="message-wrapper"
      *ngFor="let message of messages; let i = index"
      [class.own]="isOwnMessage(message)"
    >
      <div [ngClass]="['message', getMessageClasses(message, i)]">
        {{ message.message }}
      </div>
    </div>
  </div>
  <form class="mt-auto" [formGroup]="form" (keyup.enter)="sendMessage()">
    <div class="d-flex">
      <input
        class="form-control"
        type="text"
        formControlName="message"
        [placeholder]="'CHAT.ENTER_MESSAGE' | translate"
        autocomplete="off"
        autofocus
      >
    </div>
  </form>
</div>
