<div class="message-list my-3">
  <div
    class="message-wrapper"
    *ngFor="let message of messages$ | async; let i = index"
    [class.own]="isOwnMessage(message)"
  >
    <div [ngClass]="['message', getMessageClasses(message, i)]">
      {{ message.body }}
    </div>
  </div>
</div>
<div class="mt-auto">
  <form [formGroup]="form" (keydown.meta.enter)="submit()">
    <div class="d-flex">
      <textarea
        class="form-control"
        formControlName="message"
        [placeholder]="'CHAT.ENTER_MESSAGE' | translate"
        autocomplete="off"
      ></textarea>
    </div>
  </form>
</div>
