.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 58px); // - header height
  padding: 15px;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 15px;
}

.message-wrapper {
  display: flex;
  flex-shrink: 0;
  max-width: 85%;

  &.own {
    align-self: flex-end;
    justify-content: flex-end;

    .message {
      background: #0084ff;
      color: #fff;
    }
  }
}

.message {
  background: #f1f0f0;
  border-radius: 1.3em;
  color: #000;
  margin: 1px 0;
  padding: 6px 12px;

  &.msg-mt {
    margin-top: 10px;
  }

  &.msg-bl {
    border-bottom-left-radius: 4px;
  }

  &.msg-br {
    border-bottom-right-radius: 4px;
  }

  &.msg-tl {
    border-top-left-radius: 4px;
  }

  &.msg-tr {
    border-top-right-radius: 4px;
  }
}
