@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.page-content {
  min-height: 100%;
  padding: 20px 0;
}

.text-bold {
  font-weight: bold;
}
