@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";

body {
  overflow: hidden;
}

main {
  &.content-body {
    height: calc(100vh - 56px); // - header height
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.text-bold {
  font-weight: bold;
}

.chat-container {
  display: flex;
  flex-direction: column;
}
