.conversation-list-section {
  flex: 0 0 25%;
}

.chat-section {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 1 1 75%;
  flex-direction: column;
}

section {
  & ::ng-deep {
    .section-header {
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      flex: 0 0 auto;
      justify-content: space-between;
      padding: 12px 15px;
    }

    .section-body {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
    }
  }
}
